<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .el-header {
            background-color: rgb(165, 209, 181);
            color: #333;
            /*text-align: center;*/
            line-height: 60px;
        }

        .el-aside {
            background-color: rgb(248, 247, 240)!important;
            color: #333;
            /*text-align: center;*/
            line-height: 600px;
            height: 600px;
        }

        .el-main {
            /*background-color: ;*/
            color: #333;
            /*text-align: center;*/
            line-height: 80%;
            background-color: rgb(248, 247, 240);
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-menu {
            background-color: rgb(248, 247, 240)!important;
        }
        .el-menu-item:hover{
            background:rgb(165, 209, 181)!important;
        }
        #add{
            margin-bottom: 20px;
        }
        #add:hover{
            background:rgb(165, 209, 181)!important;
            color: black;
        }
    </style>
</head>
<body>
<div id="root">
    <el-container>
        <el-header>    欢迎用户&nbsp;{{ name }}
            <el-button class="btn" @click="logout">
                退出
            </el-button></el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu :default-openeds="['1', '3']">
                    <el-menu-item @click="move1">植物管理</el-menu-item>
                    <el-menu-item @click="move2">申请管理</el-menu-item>
                    <el-menu-item @click="move3">员工管理</el-menu-item>
                    <el-menu-item @click="move4">选项2</el-menu-item>
                </el-menu>
            </el-aside>
            <el-main> <el-button round @click="addUser" id="add" >添加植物</el-button>
                <el-table
                        :data="plants"
                        border
                        style="width: 100%">
                    <el-table-column
                            fixed
                            prop="plantId"
                            label="植物Id"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="plantName"
                            label="植物名称"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="plantType"
                            label="植物种类"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="quantity"
                            label="数量"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="单价/柱"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="advicePh"
                            label="推荐种植环境"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="操作"
                            width="100">
                        <template slot-scope="scope">
                            <el-button type="text" @click="handleUpdate(scope.row)">编辑</el-button>
                            <el-button type="text" @click="remove(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table></el-main>
        </el-container>
    </el-container>

    <el-dialog
            title="修改植物信息"
            :visible.sync="dialogVisible"
            width="60%"
            :before-close="handleClose">
        <el-form ref="form" :model="form" label-width="100px">
            <el-form-item label="植株Id">
                <el-input v-model="form.plantId"></el-input>
            </el-form-item>
            <el-form-item label="植株名">
                <el-input v-model="form.plantName"></el-input>
            </el-form-item>
            <el-form-item label="种类">
                <el-input v-model="form.plantType"></el-input>
            </el-form-item>
            <el-form-item label="数量">
                <el-input v-model="form.quantity"></el-input>
            </el-form-item>
            <el-form-item label="价格">
                <el-input v-model="form.price"></el-input>
            </el-form-item>
            <el-form-item label="推荐种植环境">
                <el-input v-model="form.advicePh"></el-input>
            </el-form-item>
            <el-form-item label="植物简介">
                <el-input v-model="form.plantInfo"></el-input>
            </el-form-item>
            <el-form-item label="植物功能">
                <el-input v-model="form.plantFunction"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">添加</el-button>
                <el-button @click="handleClose">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog
            title="添加植物"
            :visible.sync="dialogVisible4Add"
            width="50%"
            :before-close="handleClose">
        <el-form ref="form" :model="form1" label-width="80px">
                <el-form-item label="植物Id">
                    <el-input v-model="form1.plantId"></el-input>
                </el-form-item>
                <el-form-item label="植物名">
                    <el-input v-model="form1.plantName"></el-input>
                </el-form-item>
                <el-form-item label="种类">
                    <el-input v-model="form1.plantType"></el-input>
                </el-form-item>
                <el-form-item label="数量">
                    <el-input v-model="form1.quantity"></el-input>
                </el-form-item>
                <el-form-item label="价格">
                    <el-input v-model="form1.price"></el-input>
                </el-form-item>
                <el-form-item label="推荐种植环境">
                    <el-input v-model="form1.advicePh"></el-input>
                </el-form-item>
                <el-form-item label="植物简介">
                    <el-input v-model="form1.plantInfo"></el-input>
                </el-form-item>
                <el-form-item label="植物功能">
                    <el-input v-model="form1.plantFunction"></el-input>
                </el-form-item>
        </el-form>
    </el-dialog>
</div>
<script src="/static/js/vue.js"></script>
<!--<script type="module" src="/static/js/axios.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<link rel="stylesheet" type="text/css" href="/static/element-ui/index.css">
<script>
    new Vue({
        el: "#root",
        data() {
            return {
                plants: [],
                dialogVisible: false,
                dialogVisible4Add: false,
                // userName1:this.sessionStorage.getItem("user"),
                name: '',
                form: {
                    plantId:'',
                    plantName:'',
                    plantType:'',
                    quantity:'',
                    price:'',
                    advicePh:'',
                    plantInfo:'',
                    plantFunction:''
                },
                form1: {
                    plantName:'',
                    plantType:'',
                    quantity:'',
                    price:'',
                    advicePh:'',
                    plantInfo:'',
                    plantFunction:''
                }
            }
        },
        created() {
            this.getAll()
            this.getName()
        },
        methods: {
            getAll() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/plants"
                }).then(res => {
                    console.log(res.data.data)
                    _this.plants = res.data.data;
                })
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            onSubmit() {
                console.log(this.formData);
                axios({
                    method: "put",
                    url: "http://localhost:8080/plants",
                    data: this.form
                }).then(res => {
                    if (res.data.code === 1) {
                        alert("修改成功")
                        this.dialogVisible = false
                        this.getAll()
                    } else {
                        alert("修改失败")
                    }
                })
            },
            handleUpdate(row) {
                var _this = this;

                axios({
                    method: "get",
                    url: "http://localhost:8080/plants/" + row.plantId
                }).then(res => {
                    if (res.data.code === 1) {
                        _this.form = res.data.data;
                        this.dialogVisible = true;
                    } else {
                        alert(res.data.msg)
                    }
                })
            },
            addUser() {
                this.dialogVisible4Add = true;
            },
            onAdd() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/plants",
                    data: this.form1
                }).then(res => {
                    if (res.data.code === 1) {
                        this.getAll()
                        alert("添加成功")
                        this.dialogVisible4Add = false;
                    } else {
                        alert("添加失败")
                    }
                })
            },
            remove(row) {
                console.log("111")
                axios({
                    method: "delete",
                    url: "http://localhost:8080/plants/" + row.plantId
                }).then(res => {
                    if (res.data.code === 1) {
                        alert("删除成功")
                        this.getAll()
                    } else {
                        alert("删除失败")
                    }
                })
            },
            getName() {
                // console.log(sessionStorage.getItem('user'));
                this.name = JSON.parse(sessionStorage.getItem('manager')).userName
            },
            move1() {
                window.location.href = "ManagerPlant.html"
            },
            move2() {
                window.location.href = "ManagerApplication.html"
            },
            move3() {
                window.location.href = "ManagerEmployee.html"
            },
            move4() {

            },
            logout(){
                sessionStorage.removeItem('manager')
                window.location.href="ManagerLogin.html"
            }
        }
    })
</script>
</body>
</html>